# Ignore large dataset files
*.csv
*.json
*.tsv
*.parquet
*.db
*.sqlite
# Python caches
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/